@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #dbdbdb;
  background-color: #fff;
}

.navbar_content {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.start-div {
  display: flex;
}

.start-div ion-icon {
  font-size: 25px;
  cursor: pointer;
}

.logo {
  width: 100px;
  height: 30px;
}

.barra_vertical {
  border-left: 1px solid #dbdbdb;
  margin: 0 10px;
}

.search {
  width: 210px;
  height: 30px;
  text-align: center;
  background-color: #fafafa;
  outline: 0;
  border: 2px solid #dbdbdb;
  border-style: none;
  border-radius: 3px;
}

.menu-items ion-icon {
  margin: 8px;
  font-size: 25px;
  cursor: pointer;
}

.main-content {
  background-color: #fafafa;
  height: 100%;
  width: 100%;
  margin-top: 54px;
}

.section-content {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.section1 {
  width: 575px;
  overflow: hidden;
}

.stories {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  display: flex;
  list-style: none;
  padding: 10px;
  margin-top: 35px;
  height: 110px;
  position: relative;
}

.stories div {
  display: flex;
  flex-direction: column;
  margin: 10px;
  cursor: pointer;
  position: relative;
}

.stories div li {
  font-size: 12px;
  text-align: center;
  margin: 5px auto;
}

.icon-div {
  border-radius: 50%;
  border: 1px solid #bbb;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 80px;
}

.icon-div img {
  text-align: center;
}

.story-circle {
  height: 56px;
  width: 56px;
}

.profile-stories {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
}

.post {
  margin: 25px auto 60px;
  border: 1px solid #dbdbdb;
  height: 750px;
  background-color: #fff;
}

.header-post {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 12px;
}

.icon-post {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 15px;
}

.icon-post img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-right: 15px;
}

.post ion-icon {
  cursor: pointer;
}

.middle-post {
  position: relative;
}

.middle-post ion-icon {
  position: absolute;
  top: 250px;
  right: 250px;
  font-size: 50px;
}

.middle-post video {
  width: 612px;
  height: 612px;
  background-color: #000;
}

.footer-post {
  display: flex;
}

.left-footer {
  flex: 1;
  padding: 5px 10px;
}

.left-footer ion-icon {
  font-size: 22px;
  margin: 0 3px;
}

.right-footer ion-icon {
  font-size: 22px;
  margin: 0 10px;
}

.down-footer {
  display: flex;
  margin-left: 15px;
}

.down-footer img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.down-footer p span {
  font-weight: bold;
  cursor: pointer;
}

.sidebar {
  margin-left: 30px;
  margin-top: 60px;
  max-width: 300px;
}

.perfil1 {
  display: flex;
  align-items: center;
}

.perfil1-text {
  margin-left: 15px;
}

.p-bold {
  font-weight: bold;
  color: #262626;
}

.p-300 {
  font-weight: 300;
  color: #8e8e8e;
}

.suggestions {
  font-size: 13px;
  font-weight: 600;
  color: #8e8e8e;
  margin-top: 10px;
}

.suggestions span {
  color: #262626;
  margin-left: 125px;
  cursor: pointer;
}

.profiles-suggestions {
  margin: 20px 0;
}

.suggest-profile {
  display: flex;
  padding: 5px 0;
}

.suggest-profile span {
  margin-left: 85px;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 600;
  color: #129ef2;
  cursor: pointer;
}

.suggest-text {
  margin-left: 15px;
}

.text1 {
  color: #262626;
  font-weight: 600;
  font-size: 14px;
}

.text2 {
  color: #8e8e8e;
  font-weight: 400;
  font-size: 12px;
}

.footer {
  color: #c7c7c7;
  font-size: 11px;
  margin: 20px 0;
}

.navbar2 {
  display: none;
}

@media (min-width: 614px) and (max-width: 935px) {
  .sidebar {
    display: none;
  }

  .main-content {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
  }

  .section-content {
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .navbar_content {
    width: 100%;
    margin: 0;
  }

  .navbar2 {
    display: none;
  }
}

@media (max-width: 613px) {
  .sidebar {
    display: none;
  }

  .main-content {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
  }

  .section-content {
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .stories {
    margin-top: 0;
    background-color: #fafafa;
    border: 0;
  }

  .icon-div img {
    display: none;
  }

  .post {
    width: 100%;
  }

  .navbar_content {
    width: 100%;
    flex: 1;
    margin: 0 15px;
  }

  .barra_vertical {
    display: none;
  }

  .search {
    display: none;
  }

  .vector-icon {
    display: none;
  }

  .activity-icon {
    display: none;
  }

  .account-icon {
    display: none;
  }

  .navbar2 {
    display: flex;
    width: 100%;
    height: 54px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    position: fixed;
    top: 790px;
    left: 0;
    align-items: center;
  }

  .navbar2 ion-icon {
    flex: 1;
    font-size: 25px;
  }

  .middle-post ion-icon {
    top: 260px;
    left: 170px;
  }

  .start-div {
    display: flex;
    flex: 1;
    
  }

  .logo-div {
    margin-left: 100px;
  }
}